.cp-container {
  padding: 12px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cp-input-container {
  position: relative;
  border: rgba(0, 0, 0, 0.25) 1px solid;
  height: 36px;
  border-radius: 8px;
  display: flex;
  transition: border 0.2s;
}

.cp-input-container:focus-within {
  border: #0066ff 1px solid;
}

.color-input {
  width: 100%;
  padding: 0 38px 0 10px;
  height: 100%;
  font-size: 14px;
  background-color: transparent;
}

.color-preview {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
